body {
    text-align: center;
    background-color: rgb(37, 37, 37);
}

@font-face {
    font-family: 'SF Display';
    src: url('System\ San\ Francisco\ Display\ Regular.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Google Sans';
    src: url('ProductSans-Regular.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

h1 {
    font-family: 'SF Display', serif;
    font-size: 60px;
    font-weight: lighter;
    color: #4cb3f6;
    padding: 20px;
    padding-top: 5px;
}

img {
    width: 200px;
    height: auto;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 30px;
    color: rgb(82, 215, 255);
}

a {
    font-family: 'Google Sans', sans-serif;
    font-size: 40px;
    color: white !important;
    text-decoration: none;
}

p {
    font-family: 'SF Display', sans-serif;
    font-size: 20px;
    color: white;
}

button {
    padding: 20px;
    font-family: 'SF Display', sans-serif;
    font-size: 40px;
    color: rgb(37, 37, 37);
    background-color: #4cb3f6;
    border: none;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}
